.menu-pop-up-bagikan {
  display: none;
  position: fixed;
  top: 30%;
  left: 60%;
  transform: translate(-50%);
  z-index: 200;

  box-shadow: $shadow-default;

  background-color: $color-turqoise-light;
  color: white;
  padding: 20px;
  border-radius: 10px;
  &.active {
    display: grid;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  p, h2 {
    padding: 0 20px;
  }

  a { 
    font-size: 12px;
    display: grid;
    place-items: center;
  }

  a, button {
    padding: 10px 20px;
    background-color: $color-turqoise-light;  
    filter: brightness(110%);
    color: white;
    border-radius: 30px;
  }
}