.container-btn-action {
  display: grid;
  gap: 0.25rem;
  z-index: 100;
  padding: 15px;

  background-color: $color-turqoise-light;
  border-radius: 10px;
  box-shadow: $shadow-default;
  .btn-action {
    display: flex!important;
    align-items: center;
    gap: 10px;
    width: 160px;
    padding: 2px 15px;

    border-radius: 30px;
    color: $color-black;
    background-color: $color-white;
    box-shadow: $shadow-bottom-default;
    text-decoration: none;
    &:hover {
      filter: brightness(90%);
    }
  }
}

