.search-input {
  display: flex;
  align-items: center;

  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);

  width: 85%;
  padding: 8px;

  background-color: white;
  filter: $drop-shadow-default;
  button[aria-label="open menu"] {
    display: flex;
    align-items: center;

    height: 30px;
    width: 30px;

    background-color: white;
    border-radius: 50%;
    .bi-list {
      color: black;
      font-size: 20px;
    }
    &:focus {
      box-shadow: none;
      border: 2px solid $color-orange-light;
    }
    &:hover {
      filter: brightness(90%);
    }
  }

  input[type="search"] {
    width: 100%;
    outline: none;
    &::placeholder {
      letter-spacing: 0.5px;
    }
  }

  button[aria-label="cari kelurahan"] {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(247,148,29);
    background: linear-gradient(48deg, rgba(247,148,29,1) 84%, rgba(255,255,255,1) 100%);

    color: white;
    filter: $drop-shadow-default;

    height: 30px;
    width: 30px;
    &:hover {
      filter: $drop-shadow-default brightness(90%);
    }
  }
}