.my-text-white { color: $color-white!important; }
.my-text-light { color: $color-light!important; }
.my-text-black { color: $color-black!important; }
.my-text-purple { color: $color-purple!important; }
.my-text-cyan { color: $color-cyan!important; }
.my-text-orange-dark { color: $color-orange-dark!important; }
.my-text-orange-light { color: $color-orange-light!important; }
.my-text-blue-dark { color: $color-blue-dark!important; }
.my-text-blue-light { color: $color-blue-light!important; }
.my-text-turqoise-light { color: $color-turqoise-light!important; }
.my-text-turqoise-medium { color: $color-turqoise-medium!important; }
.my-text-turqoise-dark { color: $color-turqoise-dark!important; }