$color-white: #FFF;
$color-light: #F4F4F4;
$color-black: #414042;
$color-purple: #9B64B5;
$color-cyan: #39C5D8;
$color-orange-dark: #FF6600;
$color-orange-light: #F7941D;
$color-blue-dark: #1F3161;
$color-blue-light: #0956C6;
$color-turqoise-light: #117A96;
$color-turqoise-medium: #0B6280;
$color-turqoise-dark: #135180;



$font-montserrat: 'Montserrat', sans-serif;

$drop-shadow-default: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.20));
$drop-shadow-sm: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));

$shadow-default: 0px 0px 5px rgba(0, 0, 0, 0.20);
$shadow-sm: 0px 0px 5px rgba(0, 0, 0, 0.10);

// $font-
// font-family: 'Kulim Park', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;