@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.my-text-white {
  color: #FFF !important;
}

.my-text-light {
  color: #F4F4F4 !important;
}

.my-text-black {
  color: #414042 !important;
}

.my-text-purple {
  color: #9B64B5 !important;
}

.my-text-cyan {
  color: #39C5D8 !important;
}

.my-text-orange-dark {
  color: #FF6600 !important;
}

.my-text-orange-light {
  color: #F7941D !important;
}

.my-text-blue-dark {
  color: #1F3161 !important;
}

.my-text-blue-light {
  color: #0956C6 !important;
}

.my-text-turqoise-light {
  color: #117A96 !important;
}

.my-text-turqoise-medium {
  color: #0B6280 !important;
}

.my-text-turqoise-dark {
  color: #135180 !important;
}

.my-bg-white {
  background-color: #FFF !important;
}

.my-bg-light {
  background-color: #F4F4F4 !important;
}

.my-bg-black {
  background-color: #414042 !important;
}

.my-bg-purple {
  background-color: #9B64B5 !important;
}

.my-bg-cyan {
  background-color: #39C5D8 !important;
}

.my-bg-orange-dark {
  background-color: #FF6600 !important;
}

.my-bg-orange-light {
  background-color: #F7941D !important;
}

.my-bg-blue-dark {
  background-color: #1F3161 !important;
}

.my-bg-blue-light {
  background-color: #0956C6 !important;
}

.my-bg-turqoise-light {
  background-color: #117A96 !important;
}

.my-bg-turqoise-medium {
  background-color: #0B6280 !important;
}

.my-bg-turqoise-dark {
  background-color: #135180 !important;
}

@font-face {
  font-family: 'tt-commons-black';
  src: url("./fonts/tt-commons/TT-Commons-Black.otf");
}

@font-face {
  font-family: 'tt-commons-extra-bold';
  src: url("./fonts/tt-commons/TT-Commons-ExtraBold.otf");
}

@font-face {
  font-family: 'tt-commons-bold';
  src: url("./fonts/tt-commons/TT-Commons-Bold.otf");
}

@font-face {
  font-family: 'tt-commons-demi-bold';
  src: url("./fonts/tt-commons/TT-Commons-DemiBold.otf");
}

@font-face {
  font-family: 'tt-commons-medium';
  src: url("./fonts/tt-commons/TT-Commons-Medium.otf");
}

@font-face {
  font-family: 'tt-commons-light';
  src: url("./fonts/tt-commons/TT-Commons-Light.otf");
}

@font-face {
  font-family: 'tt-commons-thin';
  src: url("./fonts/tt-commons/TT-Commons-Thin.otf");
}

.font-commons-bold {
  font-family: "tt-commons-bold" !important;
}

.font-commons-demi-bold {
  font-family: "tt-commons-demi-bold" !important;
}

.font-commons-medium {
  font-family: "tt-commons-medium";
}

.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.my-rounded-sm {
  border-radius: 5px;
}

.my-rounded-md {
  border-radius: 10px;
}

.my-rounded-lg {
  border-radius: 15px;
}

.my-rounded-xl {
  border-radius: 20px;
}

.my-rounded-sm-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.my-rounded-md-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.my-rounded-lg-bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.my-rounded-xl-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.my-rounded-sm-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.my-rounded-md-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my-rounded-lg-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.my-rounded-xl-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.drop-shadow-default {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.drop-shadow-sm {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
}

.shadow-default {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.is-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.is-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.is-flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.search-input-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
  padding: 8px 20px;
  max-height: 46px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.search-input-menu .skeleton-button {
  display: -ms-grid;
  display: grid;
  height: 30px;
  width: 30px;
}

.search-input-menu button[aria-label="open menu"],
.search-input-menu button[aria-label="cari kelurahan"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.search-input-menu button[aria-label="open menu"] .bi-list,
.search-input-menu button[aria-label="cari kelurahan"] .bi-list {
  color: black;
  font-size: 20px;
}

.search-input-menu button[aria-label="open menu"]:focus,
.search-input-menu button[aria-label="cari kelurahan"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-input-menu button[aria-label="open menu"]:hover,
.search-input-menu button[aria-label="cari kelurahan"]:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.search-input-menu input[type="search"] {
  width: 100%;
  outline: none;
  font-weight: 500;
}

.search-input-menu input[type="search"]::-webkit-input-placeholder {
  letter-spacing: 0.5px;
}

.search-input-menu input[type="search"]:-ms-input-placeholder {
  letter-spacing: 0.5px;
}

.search-input-menu input[type="search"]::-ms-input-placeholder {
  letter-spacing: 0.5px;
}

.search-input-menu input[type="search"]::placeholder {
  letter-spacing: 0.5px;
}

.search-input-menu button[aria-label="cari kelurahan"] {
  background: #f7941d;
  background: linear-gradient(48deg, #f7941d 84%, white 100%);
  color: white;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.search-input-menu button[aria-label="cari kelurahan"]:hover {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)) brightness(90%);
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)) brightness(90%);
}

.menu {
  display: none;
  gap: 5px;
  position: absolute;
  top: 12px;
  left: 50%;
  z-index: 90;
  padding: 10px;
  width: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #117A96;
  border-radius: 10px;
}

.menu button {
  padding: 8px 25px;
  color: white;
  text-decoration: none;
  background-color: inherit;
  border-radius: 30px;
}

.menu button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu button:hover, .menu button.active {
  color: rgba(255, 255, 255, 0.5);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  max-width: 440px;
  padding: 20px;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 20px;
  height: 140px;
}

header .title img {
  width: 50px;
  height: 50px;
}

header .title h1 {
  font-size: 25px;
}

header .title blockquote {
  background-color: #0956C6;
  color: white;
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 12px;
}

.container-button-right {
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.container-button-right a.btn-menu, .container-button-right button.btn-menu {
  height: 44px;
  width: 44px;
  color: black;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.container-button-right a.btn-menu i, .container-button-right button.btn-menu i {
  font-size: 18px;
}

.container-button-right a.btn-menu:hover, .container-button-right button.btn-menu:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.container-button-right a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.pembagian-uang-wilayah {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
}

.pembagian-uang-wilayah .box {
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.pembagian-uang-wilayah .box p {
  margin-bottom: 0.3rem;
  font-size: 10px;
  font-weight: 500;
}

.pembagian-uang-wilayah .box .d-flex > .box-color {
  border-radius: 2px;
  background-color: #F7941D;
  height: 12px;
  width: 12px;
}

.pembagian-uang-wilayah .box .d-flex:nth-child(1) > .box-color {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}

.pembagian-uang-wilayah .box .d-flex:nth-child(2) > .box-color {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.pembagian-uang-wilayah .box .d-flex:nth-child(3) > .box-color {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.pembagian-uang-wilayah .box .d-flex:nth-child(4) > .box-color {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.pembagian-uang-wilayah .box .d-flex:nth-child(5) > .box-color {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.pembagian-uang-wilayah .box .d-flex:nth-child(6) > .box-color {
  -webkit-filter: brightness(65%);
          filter: brightness(65%);
}

.info-lihat-rencana-kota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 95%;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #117A96;
  color: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.info-lihat-rencana-kota p {
  font-size: 12px;
}

.jenis-peta {
  z-index: 100;
  padding: 15px;
  background-color: #117A96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.jenis-peta h2 {
  color: white;
  font-size: 18px;
  padding-left: 15px;
}

.jenis-peta .box-jenis-peta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 160px;
  padding: 2px 15px;
  border-radius: 30px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.jenis-peta .box-jenis-peta:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.container-btn-action {
  display: -ms-grid;
  display: grid;
  gap: 0.25rem;
  z-index: 100;
  padding: 15px;
  background-color: #117A96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.container-btn-action .btn-action {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 160px;
  padding: 2px 15px;
  border-radius: 30px;
  color: #414042;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.container-btn-action .btn-action:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

#menuPopUpAction {
  display: none;
  gap: 50px;
  position: fixed;
  top: 20px;
  right: 85px;
}

.menu-pop-up-bagikan {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 200;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #117A96;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-bagikan.active {
  display: -ms-grid;
  display: grid;
}

.menu-pop-up-bagikan h2 {
  font-size: 18px;
  font-weight: bold;
}

.menu-pop-up-bagikan p, .menu-pop-up-bagikan h2 {
  padding: 0 20px;
}

.menu-pop-up-bagikan a {
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menu-pop-up-bagikan a, .menu-pop-up-bagikan button {
  padding: 10px 20px;
  background-color: #117A96;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  color: white;
  border-radius: 30px;
}

.menu-pop-up-sematkan-peta {
  display: none;
  position: fixed;
  top: 25%;
  left: 60%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 200;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #117A96;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-sematkan-peta.active {
  display: -ms-grid;
  display: grid;
}

.menu-pop-up-sematkan-peta iframe {
  width: 100%;
  height: 200px;
}

.menu-pop-up-sematkan-peta h2 {
  font-size: 18px;
  font-weight: bold;
}

.menu-pop-up-sematkan-peta p, .menu-pop-up-sematkan-peta h2, .menu-pop-up-sematkan-peta address {
  padding: 0 20px;
}

.menu-pop-up-sematkan-peta a {
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menu-pop-up-sematkan-peta a, .menu-pop-up-sematkan-peta button {
  padding: 10px 20px;
  background-color: #117A96;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  color: white;
  border-radius: 30px;
}

.menu-pop-up-kirim-masukkan {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 200;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #117A96;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-kirim-masukkan.active {
  display: -ms-grid;
  display: grid;
}

.menu-pop-up-kirim-masukkan h2 {
  font-size: 18px;
  font-weight: bold;
}

.menu-pop-up-kirim-masukkan label {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  color: white;
}

.menu-pop-up-kirim-masukkan input {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-pop-up-kirim-masukkan input::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.menu-pop-up-kirim-masukkan input:-ms-input-placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  filter: brightness(110%);
}

.menu-pop-up-kirim-masukkan input::-ms-input-placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  filter: brightness(110%);
}

.menu-pop-up-kirim-masukkan input::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.menu-pop-up-kirim-masukkan .map-ganti-lokasi {
  position: relative;
}

.menu-pop-up-kirim-masukkan .map-ganti-lokasi img.ganti-lokasi {
  width: 350px;
  height: 150px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.menu-pop-up-kirim-masukkan .map-ganti-lokasi .overlay {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 110;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-pop-up-kirim-masukkan .map-ganti-lokasi .overlay button.btn-ganti-lokasi {
  position: absolute;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.menu-pop-up-kirim-masukkan button.tambah-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.menu-pop-up-cetak {
  display: none;
  position: fixed;
  top: 10%;
  left: 60%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 200;
}

.menu-pop-up-cetak.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-pop-up-cetak .preview {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  background-color: #117A96;
  color: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-cetak img.image-cetak {
  width: 450px;
  height: 200px;
}

.menu-pop-up-cetak h3 {
  font-size: 16px;
  font-weight: bold;
}

.menu-pop-up-cetak .cetak-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-pop-up-cetak .cetak-data p {
  font-size: 12px;
  margin-bottom: 0;
}

.menu-pop-up-cetak .cetak-data p:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-pop-up-cetak .cetak-data p:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.menu-pop-up-cetak .form-cetak {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-cetak .form-cetak form {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.menu-pop-up-cetak .form-cetak .container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu-pop-up-cetak .form-cetak .container-input label {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-pop-up-cetak .form-cetak .container-input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eee;
  padding: 10px;
  border-radius: 30px;
}

.menu-pop-up-cetak .form-cetak .container-btn {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-pop-up-cetak .form-cetak .btn-more-setting {
  background-color: #eeee;
  border-radius: 30px;
}

.menu-pop-up-info-lokasi {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 200;
  max-height: 580px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #117A96;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.menu-pop-up-info-lokasi.active {
  display: -ms-grid;
  display: grid;
}

.menu-pop-up-info-lokasi h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.menu-pop-up-info-lokasi .container-info-lokasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 2px 20px;
}

.menu-pop-up-info-lokasi .container-info-lokasi p {
  margin-bottom: 0;
  font-size: 12px;
  color: #414042;
  font-weight: 600;
}

.menu-pop-up-info-lokasi .container-info-lokasi p:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-pop-up-info-lokasi .container-info-lokasi p:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil,
.menu-pop-up-info-lokasi .pendapatan-rata-rata {
  display: -ms-grid;
  display: grid;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil h3, .menu-pop-up-info-lokasi .usaha-mikro-kecil p,
.menu-pop-up-info-lokasi .pendapatan-rata-rata h3,
.menu-pop-up-info-lokasi .pendapatan-rata-rata p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil h3,
.menu-pop-up-info-lokasi .pendapatan-rata-rata h3 {
  background-color: #58595b;
  font-size: 16px;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil p,
.menu-pop-up-info-lokasi .pendapatan-rata-rata p {
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil p.total,
.menu-pop-up-info-lokasi .pendapatan-rata-rata p.total {
  background-color: #939598;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil p.pelaku,
.menu-pop-up-info-lokasi .pendapatan-rata-rata p.pelaku {
  background-color: #e6e7e8;
  color: #414042;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil img.diagram-satu,
.menu-pop-up-info-lokasi .pendapatan-rata-rata img.diagram-satu {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil .table-wrapper,
.menu-pop-up-info-lokasi .pendapatan-rata-rata .table-wrapper {
  background-color: white;
  padding: 10px;
  color: #414042;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-pop-up-info-lokasi .usaha-mikro-kecil .table-wrapper table td,
.menu-pop-up-info-lokasi .pendapatan-rata-rata .table-wrapper table td {
  font-size: 12px;
}

.menu-pop-up-info-lokasi .zona-perumahan {
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
}

.menu-pop-up-info-lokasi .zona-perumahan h3, .menu-pop-up-info-lokasi .zona-perumahan a {
  text-align: center;
  margin-bottom: 0;
}

.menu-pop-up-info-lokasi .zona-perumahan h3 {
  font-size: 16px;
  color: #414042;
  padding: 8px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-pop-up-info-lokasi .zona-perumahan a {
  border: 1px solid #eee;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #414042;
  padding: 5px;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: none;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: none;
}
/*# sourceMappingURL=App.css.map */